

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
	height: 100%;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 span{
	font-family: "Times New Roman";
	font-size: 0.90em;
	color: black;
	padding-top: 50px;

}

.desc-welcome{
	font-family: "Times New Roman";
	font-size: 0.99em;
	padding-top: 30px;
	width: 50%;
}



.welcome{
	background: url("../img/fondo2.png");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-color: #66999;
}

section,
.section-colored{
	padding: 50px 0;
}

.section-colored{
	background-color: #e1e1e1;
}

.img-home-portfolio{
	margin-bottom: 30px;
}



.tooltip-social a{
	text-decoration: none;
	color: inherit;
}

.facebook-link a:hover{
	color: #3b5998;
}

.linkedin-link a:hover{
	color: #007fb1;
}

.twitter-link a:hover{
	color: #1da1f2;
}

.google-plus-link a:hover{
	color: #d14836;
}

.github-link a:hover{
	color:#4078c0;
}
