<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Curriculum Web - Marcos Ludeña Triviño</title>
        <meta name="description" content="Curriculum Web de Marcos Ludeña Triviño">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="..//fonts/font-awesome/css/font-awesome.min.css">

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>


    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Marcos Ludeña Triviño</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                  <li><a href="./formacion.html">Formación</a></li>
                  <li class="active"><a href="./aptitudes.html">Aptitudes</a></li>
                  <li class="dropdown">
                      <a href="./proyectos.html" class="dropdown-toggle" data-toggle="dropdown">Proyectos <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="./proyectos.html">Todos mis proyectos</a></li>
                          <li class="divider"></li>
                          <li><a href="./arpm.html">Aprende a Resolver Problemas - Matemáticas</a></li>
                          <li><a href="./tfg.html">Trabajo Fin de Grado</a></li>
                      </ul>
                  </li>
                  <li><a href="./contacto.html">Contacto</a></li>
              </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Mis Aptitudes</h2>
            <p>En esta sección hablaré de las aptitudes referidas a la informática (como manejo de distintos sistemas operativos, distintos
              lenguajes de programación, conocimientos sobre redes, desarrollo web, ofimática, etc) que he ido obteniendo a lo largo de estos
              años y de otros datos de interés.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-code" aria-hidden="true"></i> Lenguajes de Programación</h2>
            <p>
              A continuación, citaré los lenguajes de programación de los que tengo conocimiento justo con el grado de conocimiento (bajo, medio o alto) que tengo de ellos:
              <ul>
                <li>Java <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>Python <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>C# <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio - Alto</li>
                <li>C <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio - Alto</li>
                <li>Visual Basic <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
                <li>PHP <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
                <li>Swift <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>JavaScript <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
              </ul>
            </p>
            <p>
              También tengo conocimiento de otro tipo de lenguaje como:
              <ul>
                <li>SQL <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
              </ul>
            </p>
            <p>
              Para finalizar esta sección, indicar que también tengo conocimientos de desarrollo de aplicaciones tanto para Android como para iOS.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-globe" aria-hidden="true"></i> Desarrollo Web</h2>
            <p>
              Mis conocimientos sobre desarrollo web son los siguientes:
              <ul>
                <li>HTML5 <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>CSS3 <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
                <li>Uso de Bootstrap para realizar front-end responsive <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
                <li>Prestashop (Sistema Gestor de Contenido) <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
              </ul>
            </p>
            <p>
              Y, como ya he citado anteriormente:
              <ul>
                <li>JavaScript <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
                <li>PHP <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
              </ul>
            </p>
            <p>
              Tambien tengo amplio conocimiento de JSON o JSON-LD, los cuáles resultan muy utiles para el paso de información entre el cliente y el servidor.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-cloud" aria-hidden="true"></i> Redes</h2>
            <p>
              Conocimientos tanto de diseño como de gestión de redes.
            </p>
            <p>
              Por un lado, mis conocimiento sobre el diseño de las redes abarcan los siguientes aspectos:
              <ul>
                <li>Análisis de las metas de negocio y las metas técnicas.</li>
                <li>Caracterización de las redes y el tráfico de red existente en una red.</li>
                <li>Diseño de la topología de red.</li>
                <li>Direccionamiento y asignación de nombres.</li>
                <li>Estrategias de seguridad.</li>
                <li>Incorporación de tecnologías tanto para redes de campus como corporativas.</li>
              </ul>
            </p>
            <p>
              Por otro lado, mis conocimientos sobre gestión de redes se centran en el protocolo SNMP, el cual permite
              tanto supervisar el funcionamiento de la red como buscar y resolver problemas.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-wrench" aria-hidden="true"></i> Metodologías de Desarrollo y Patrones de Diseño</h2>
            <p>
              Los proyectos en los cuales he participado en la universidad han sido desarrollados bajo las siguientes metodologías:
              <ul>
                <li>Proceso Unificado de Desarrollo (PUD).</li>
                <li>Scrum</li>
              </ul>
            </p>
            <p>
              También, algunos de los patrones se aplicar son los siguientes:
              <ul>
                <li>Modelo - Vista - Controlador (MVC).</li>
                <li>Patrón Singleton.</li>
                <li>Patrón de tres capas (Presentación, Dominio y Persistencia).</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-cogs" aria-hidden="true"></i> Sistemas Operativos</h2>
            <p>
              Amplio manejo de los sistemas operativos basados en UNIX (a nivel de comandos de terminal, etc) como:
              <ul>
                <li>Mac OS X.</li>
                <li>Ubuntu.</li>
                <li>Debian.</li>
                <li>ArchLinux</li>
              </ul>
            </p>
            <p>
              A un nivel menor, todos los sistemas Windows.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-file-word-o" aria-hidden="true"></i> Ofimática</h2>
            <p>
              Muy buen nivel de uso de programas de elaboración de informes, presentaciones u hojas de cálculo tanto de licencia como de
              libre distribución tales como:
              <ul>
                <li>Word / Pages <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>PowerPoint / Keynote <i class="fa fa-arrow-right" aria-hidden="true"></i> Alto</li>
                <li>Excel / Numbers <i class="fa fa-arrow-right" aria-hidden="true"></i> Medio</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-random" aria-hidden="true"></i> Otros datos de interés</h2>
            <p>
              <ul>
                <li>Carnet de Conducir : Modalidad B</li>
                <li>Vehículo Propio : Si</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <hr>
        <footer>
          <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
              <p>&copy; Marcos Ludeña Triviño - 2016</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/marcos.ludena" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://es.linkedin.com/in/marcos-ludeña-triviño-900332a2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/Marcos21L" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/107922352968282530826" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li class="tooltip-social github-link"><a href="https://github.com/marcos21l" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-github-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div> <!-- /container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

      <script src="../js/vendor/bootstrap.min.js"></script>

      <script src="../js/main.js"></script>
    </body>
</html>
