<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Curriculum Web - Marcos Ludeña Triviño</title>
        <meta name="description" content="Curriculum Web de Marcos Ludeña Triviño">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="..//fonts/font-awesome/css/font-awesome.min.css">

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>


    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Marcos Ludeña Triviño</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                  <li><a href="./formacion.html">Formación</a></li>
                  <li><a href="./aptitudes.html">Aptitudes</a></li>
                  <li class="dropdown">
                      <a href="./proyectos.html" class="dropdown-toggle" data-toggle="dropdown">Proyectos <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="./proyectos.html">Todos mis proyectos</a></li>
                          <li class="divider"></li>
                          <li class="active"><a href="./arpm.html">Aprende a Resolver Problemas - Matemáticas</a></li>
                          <li><a href="./tfg.html">Trabajo Fin de Grado</a></li>
                      </ul>
                  </li>
                  <li><a href="./contacto.html">Contacto</a></li>
              </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Aprende a Resolver Problemas - Matemáticas</h2>
            <p>
              Este proyecto surgió como concesión de la Cátedra Telefónica en "Sistemas avanzados de interacción para educación digital"
              (<a href="http://blog.uclm.es/telefonica/2016/07/20/resolucion-ayudas-para-pequenos-proyectostrabajos/">enlace a resolución</a>)
              y consiste en un prototipo para iPad de una app cuya principal funcionalidad es que sus usuarios, principalmente alumnos de los
              primeros cursos de Primaria, adquieran conocimientos relativos a la resolución de problemas matemáticas mediante el uso de esta
              app.
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div style="margin:auto;width:50%;padding:10px;">
            <img class="img-responsive img-home-portfolio" src="../img/proyectos-arpm.png">
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-wrench" aria-hidden="true"></i> Funcionamiento</h2>
            <p>
              El funcionamiento de la app es bastante sencillo.
            </p>
            <p>
              Al inicar la app, se muestra un menú inicial el cuál te da la posibilidad de elegir el curso del que quieres realizar los
              problemas. Una vez elegido el curso, puedes elegir el tipo de problema y posteriormente elegir el problema deseado de la lista
              de problemas, eso si, el problema ha de estar desbloqueado. Para desbloquear un problema debemos haber solucionado todos los
              problemas anteriores consiguiendo de esta forma que el usuario vaya adquiriendo ciertas competencias en cada problema que
              en problemas posteriores tendrá que poner en práctica.
            </p>
            <p>
              Una vez elegido el problema, se nos proporcionará un enunciado al cuál deberemos dar solución. Si a priori el usuario conoce
              la solución bastará con que la introduzca y compruebe la solución para validar si esta es correcta o no, y en caso de serlo
              se desbloquee el siguiente problema.
              <br>
              Como será normal, si el usuario no conoce la solución la app guiará a este mediante una serie de pistas a la solucción consiguiendo
              que el usuario aprenda que partes del enunciado son importantes, en que ha de fijarse, etc.
              <br>
              Además, cada problema cuenta con un diccionario de palabras que explica gráfica y textualmente las palabras que pueden suponer
              un mayor problema para los usuarios.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><i class="fa fa-code" aria-hidden="true"></i> Datos Técnicos</h2>
            <p>
              <ul>
                <li>Prototipo para iPad Pro 13".</li>
                <li>Desarrollada con Swift 2.0</li>
                <li>Base de datos en servidor remoto para almacenar progresos.</li>
                <li>Uso de memoria local para usos sin conexión.</li>
                <li>Accesos a base de datos mediante SQL.</li>
                <li>Script del servidor escritos en PHP.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>


      <section>
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2><i class="fa fa-picture-o" aria-hidden="true"></i> Capturas de la Aplicación</h2>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#ARPM" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-1.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="ARPM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-1.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#img2" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-2.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="img2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-2.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#img3" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-3.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="img3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-3.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#img4" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-4.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="img4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-4.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#img5" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-5.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="img5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-5.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                <a class="img-modal" data-toggle="modal" data-target="#img6" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/arpm-6.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="img6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive img-home-portfolio" src="../img/arpm-6.png">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <hr>

      <div class="container">
        <hr>
        <footer>
          <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
              <p>&copy; Marcos Ludeña Triviño - 2016</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/marcos.ludena" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://es.linkedin.com/in/marcos-ludeña-triviño-900332a2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/Marcos21L" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/107922352968282530826" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li class="tooltip-social github-link"><a href="https://github.com/marcos21l" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-github-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div> <!-- /container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

      <script src="../js/vendor/bootstrap.min.js"></script>

      <script src="../js/main.js"></script>
    </body>
</html>
