<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Curriculum Web - Marcos Ludeña Triviño</title>
        <meta name="description" content="Curriculum Web de Marcos Ludeña Triviño">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="..//fonts/font-awesome/css/font-awesome.min.css">

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>


    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Marcos Ludeña Triviño</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                  <li><a href="./formacion.html">Formación</a></li>
                  <li><a href="./aptitudes.html">Aptitudes</a></li>
                  <li class="dropdown">
                      <a href="./proyectos.html" class="dropdown-toggle" data-toggle="dropdown">Proyectos <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li class="active"><a href="./proyectos.html">Todos mis proyectos</a></li>
                          <li class="divider"></li>
                          <li><a href="./arpm.html">Aprende a Resolver Problemas - Matemáticas</a></li>
                          <li><a href="./tfg.html">Trabajo Fin de Grado</a></li>
                      </ul>
                  </li>
                  <li><a href="./contacto.html">Contacto</a></li>
              </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <div class="row">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Presentación</h2>
            <p>
              Esta sección sirve como punto de acceso a todos mis proyectos. En ella, iré almacenando y actualizando todos mis proyectos,
              tanto proyectos ya acabados como futuros proyectos, para así poder acceder a ellos rápidamente y además evitar que caigan
              en el olvido.
            </p>
          </div>
        </div>
      </div>

      <hr>

      <section>
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h1>Mis Proyectos</h1>
              <hr>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                Aprende a Resolver Problemas- Matemáticas
                <a class="img-modal" data-toggle="modal" data-target="#ARPM" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/proyectos-arpm.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="ARPM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprende a Resolver Problemas - Matemáticas</h4>
                  </div>
                  <div class="modal-body">
                    Este proyecto surgió como concesión de la Cátedra Telefónica en "Sistemas avanzados de interacción para educación digital", y
                    consiste en la elaboración de un prototipo de app para iPad orientado a los alumnos de la educación primaria (principalmente
                    a los primeros cursos) con la que se pretende que los usuarios aprendan a resolver problemas matemáticos gracias a la interacción
                    con la app.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-default"><a href="./arpm.html">Ir al Proyecto</a></button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                Trabajo Fin de Grado
                <a class="img-modal" data-toggle="modal" data-target="#TFG" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/proyectos-tfg.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="TFG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Trabajo Fin de Grado</h4>
                  </div>
                  <div class="modal-body">
                    Este proyecto será el resultado de mi Trabajo Fin de Grado, el cuál aún no está definido.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-default"><a href="./tfg.html">Ir al Proyecto</a></button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p class="text-center">
                Próximos Proyectos
                <a class="img-modal" data-toggle="modal" data-target="#proximos" style="cursor:pointer;">
                  <img class="img-responsive img-home-portfolio" src="../img/proyectos-prox.png">
                </a>
              </p>
            </div>
            <div class="modal fade" id="proximos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Próximos Proyectos</h4>
                  </div>
                  <div class="modal-body">
                    Poco a poco iré añadiendo proyectos, según los vaya realizando.
                    <br>
                    Si estás interasado en algún proyecto, tanto uno ya realizado como algo que tengas en mente, ¡contacta conmigo!.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-default"><a href="./contacto.html">¡ Contacta conmigo !</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>

      <hr>

      <div class="container">
        <footer>
          <p>&copy; Marcos Ludeña Triviño - 2016</p>
        </footer>
      </div> <!-- /container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

      <script src="../js/vendor/bootstrap.min.js"></script>

      <script src="../js/main.js"></script>
    </body>
</html>
